body {
  background: rgb(80, 69, 62);
}
.blmd-wrapp {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  height: auto;
  margin-top: 10vh;
  background: #fff;
  padding: 1em 0;
  position: relative;
  transition: height 0.5s;
}
.blmd-wrapp .blmd-header-wrapp {
  clear: both;
  position: relative;
}
.blmd-wrapp .blmd-header-wrapp .blmd-switches {
  position: relative;
  z-index: 3;
}
.blmd-wrapp .blmd-header-wrapp .blmd-switches > button {
  position: absolute;
  right: -30px;
  top: 35px;
  transition: all 1s;
}
.blmd-wrapp .blmd-header-wrapp .blmd-switches > button.active {
  right: 50%;
  top: -45px;
  margin-right: -32px;
  background: #ffc066;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all .5s;
}
.blmd-wrapp .blmd-continer {
  padding: 15px;
  height: auto;
  overflow: hidden;
}
.blmd-wrapp .blmd-continer form {
  max-height: auto;
  transition: all 0.5s;
}
.blmd-wrapp .blmd-continer form > h1 {
  padding: 15px 0 15px 30px;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.blmd-wrapp .blmd-continer form.form-hidden {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
}
.blmd-wrapp .blmd-continer form#login-form > h1 {
  border-left: 5px solid #26a69a;
}
.blmd-wrapp .blmd-continer form#Register-form > h1 {
  border-left: 5px solid #ffc066;
  color: #fff;
}
.blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-line:after {
  background: #ffc066;
}
.blmd-wrapp .blmd-continer form#Register-form .blmd-form .form-control {
  color: #fff;
}
.blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-label {
  color: #fff;
}
.blmd-wrapp .blmd-continer form#Register-form.animate {
  -webkit-animation: fadein .75s;
  -moz-animation: fadein .75s;
  -ms-animation: fadein .75s;
  -o-animation: fadein .75s;
  animation: fadein .75s;
}
.blmd-wrapp .blmd-continer form#Register-form.animate-out {
  -webkit-animation: fadeout .75s;
  -moz-animation: fadeout .75s;
  -ms-animation: fadeout .75s;
  -o-animation: fadeout .75s;
  animation: fadeout .75s;
}
.blmd-wrapp .blmd-color-conatiner {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 3px;
}
.btn-blmd {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}
.btn-blmd:active,
.btn-blmd.active,
.btn-blmd:focus,
.btn-blmd:active:focus,
.btn-blmd.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-blmd.btn {
  border: 0;
}
.btn-blmd.btn:focus,
.btn-blmd.btn:active,
.btn-blmd.btn.active,
.btn-blmd.btn:active:focus,
.btn-blmd.btn.active:focus {
  outline: 0;
  outline-offset: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-blmd.btn.btn-circle {
  padding: 15px;
  border-radius: 50%;
  line-height: 0px;
}
.btn-blmd.btn.btn-circle.btn-lg {
  padding: 20px;
}
.btn-blmd.btn.btn-circle.btn-sm {
  padding: 10px;
}
.btn-blmd.btn.btn-circle.btn-xs {
  padding: 5px;
}
.btn-blmd.btn.btn-default {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}
.btn-blmd.btn.btn-default:hover,
.btn-blmd.btn.btn-default:focus {
  background: #f2f2f2;
}
.btn-blmd.btn.btn-primary {
  background: #465866;
  color: #fff;
}
.btn-blmd.btn.btn-primary:hover,
.btn-blmd.btn.btn-primary:focus {
  background: #3c4b57;
}
.btn-blmd.btn.btn-info {
  background: #33a7cf;
  color: #fff;
}
.btn-blmd.btn.btn-info:hover,
.btn-blmd.btn.btn-info:focus {
  background: #2c97bc;
}
.btn-blmd.btn.btn-success {
  background: #26a69a;
  color: #fff;
}
.btn-blmd.btn.btn-success:hover,
.btn-blmd.btn.btn-success:focus {
  background: #219187;
}
.btn-blmd.btn.btn-warning {
  background: #ffc066;
  color: #fff;
}
.btn-blmd.btn.btn-warning:hover,
.btn-blmd.btn.btn-warning:focus {
  background: #ffb54c;
}
.btn-blmd.btn.btn-danger {
  background: #d65c4f;
  color: #fff;
}
.btn-blmd.btn.btn-danger:hover,
.btn-blmd.btn.btn-danger:focus {
  background: #d1493a;
}
.btn-blmd.btn.btn-link {
  background: #dddddd;
  color: rgba(0, 0, 0, 0.87);
}
.btn-blmd.btn.btn-link:hover,
.btn-blmd.btn.btn-link:focus {
  background: #d0d0d0;
}
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  opacity: 0.5;
}
.ink.animate {
  -webkit-animation: ripple .75s linear;
  -moz-animation: ripple .75s linear;
  -o-animation: ripple .75s linear;
  animation: ripple .75s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.ripple-effect-All {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ink-All {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #26a69a;
  opacity: 1;
}
.ink-All.animate {
  -webkit-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
  -moz-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
  -o-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
  animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
}
@keyframes ripple-All {
  100% {
    opacity: 1;
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-All {
  100% {
    opacity: 1;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-All {
  100% {
    opacity: 1;
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-All {
  100% {
    opacity: 1;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-All {
  100% {
    opacity: 1;
    -o-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blmd-form {
  margin: 3rem 0;
  position: relative;
  width: 100%;
}
.blmd-form .input-group-addon {
  border-width: 0 0 1px;
  min-width: 42px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #2e353b;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
}
.blmd-form .blmd-line {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}
.blmd-form .blmd-line.blmd-toggled:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.blmd-form .blmd-line.blmd-toggled.hf:after {
  display: none;
}
.blmd-form .blmd-line.blmd-toggled .blmd-label {
  top: -10px;
  font-size: 11px;
}
.blmd-form .blmd-line:after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #26a69a;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.blmd-form .form-control {
  box-shadow: none;
  border-radius: 0;
  position: relative;
  background: 0 0;
  z-index: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}
.blmd-form .blmd-label {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  position: absolute;
  top: 5px;
  font-weight: 400;
  color: #959595;
  pointer-events: none;
  z-index: 0;
  left: 0;
  white-space: nowrap;
}
