.first
{
    background-color:rgba(211, 211, 211, 0.23);
    width:50%;
    height:519px;


}
.second
{
    text-align: center;
    background-color: steelblue;
    color: white;
    height: 53px;
    font-size: xx-large;
    padding: 5px;
    
}
#media
{
      
    margin: 27px;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.73);
    color: white;
    
}

.container
{
        margin-top: 55px;
  
       margin-left: 166px;
    
}
.third
{
    
/*    background-color: white;*/
    background-color: white;
    /* width: 90%; */
    height: 300px;
    /* padding: 9px; */
    margin: 27px;
    /* padding-top: 20px; */
    margin-top: -15px;
}
#close
{
   padding: 15px;
    background-color: rgba(128, 128, 128, 0.73);
    color: white; 
    margin-left: 29px;
    border:none;
     margin-top: -12px;
}

#changes{

 padding: 15px;
    background-color: rgba(128, 128, 128, 0.73);
    color: white;
    margin-left: 20px;
    border:none;
    margin-top: -12px;

}
#media:hover,#close:hover,#changes:hover,button:hover
{
    
    background-color:steelblue ;
    color: white;
}
button
{
    border: none;
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    
}


.area
{
   background-color: rgba(159, 159, 159, 0.5);
    margin: 6px;
    height: 237px;
    text-align: center;
}
.testing
{
    padding: 80px;
}

.bold
{
    font-weight: bold;
}














