
.two
{
    
    border:none;
    background-color:rgba(43, 94, 134, 0.82);
    padding:15px;
    margin-left: 50px;
    color:white;
    cursor: pointer;
    margin-top: 37px;
    border-radius: 7px;
}

#three
{
    
    display: block;
    border: 1px solid black;
    width: 40%;
    height: 245px;
    text-align: center;
    margin-top: 70px;
    margin-left:51px;
}
body
{
    
    background-color: white;
}
#first
{
   border:none;
    background-color:rgba(0, 0, 0, 0.26);
    padding:12px;
/*    margin-left: 50px;*/
    color:black;
    cursor: pointer;
    margin-top: 23px;
    border-radius: 14px;
 
    
    
}
.add2
{
    margin-left: -41px;
    border: none;
    background-color: rgb(125, 162, 81);
    color: white;
    padding: 15px;
    margin-top: 20px;
}
.add1
{
    
    margin-left: 43px;
    border: none;
    background-color: #607D8B;
    color: white;
    padding: 15px;
    margin-top: 20px;
}